.block1
{
background-color: deeppink;
float: left;
height: 200px;
width: 200px;
margin: 10px;
}


body
{
background-color: lightpink;
}


.block2
{
    margin-left: 20px;
    height: 200px;
    width: 150px;
    background-color: darkorchid;
    float: right;
} 


.block3
{
    margin-left: 20px;
    height: 180px;
    width: 150px;

    background-color: orchid;
    clear:both;
}